
<h3><b>Hi <%=@user_details.first_name%> </b><br>
	We are pleased to serve you for your moving needs. Below are your confirmation details:
	<div class="container">
 <div class="row">
   <div class="col-sm-4">
     <h3>First Name:</h3>
     <p><%=@user_details.first_name%></p>
   </div>
   <div class="col-sm-4">
     <h3>Last Name:</h3>
     <p><%=@user_details.last_name%></p>
   </div>
   
   <div class="col-sm-4">
     <h3>Email Id:</h3>
     <p><%=@user_details.email%></p>
   </div>
   <div class="col-sm-4">
     <h3>Phone:</h3>        
     <p><%=@user_details.mobile_phone_number%></p>
   </div>
   <div class="col-sm-4">
     <h3>Date to move:</h3>        
     <p><%=@user_details.date_to_move%></p>
   </div>
   <div class="col-sm-4">
     <h3>Pick up Address:</h3>        
     <p><%=@user_details.move_from%></p>
   </div>
   </div><div class="col-sm-4">
     <h3>Drop off Address:</h3>        
     <p><%=@user_details.move_to%></p>
   </div>

   <div class="col-sm-4">
     <h3>Preferred Time Slot:</h3>        
     <p><%=@user_details.time_slot%></p>
   </div>
   <div class="col-sm-4">
     <h3>No. of Bedrooms:</h3>        
     <p><%=@user_details.number_of_bedrooms%></p>
   </div>
  
   <div class="col-sm-4">
     <h3> Size of Truck:</h3>        
     <p><%=@user_details.size_of_truck%></p>
   </div>
 </div>
</div>
</h3>