
<p>Hi.Following customer has paid online for the job:
</p>
<br>
<b>First Name:</b>
<br>
<p><%=@user_details.first_name%></p>
<br>
<b>Last Name:</b>
<br>

<p><%=@user_details.last_name%></p>
<br>
<b>Email Id:</b>
<br>

<p><%=@user_details.email%></p>
<br>

<b>Home Phone:</b>
<br>

<p><%=@user_details.home_phone_number%></p>
<br>
<b>Mobile Phone:</b>
<br>
<p><%=@user_details.mobile_phone_number%></p>
<br>
<b>Date to move:</b>
<br>
<p><%=@user_details.date_to_move.strftime('%a %d %b %Y')%></p>
<br>
<b>Pick up Address:</b>
<br>
<p><%=@user_details.move_from%></p>
<br>
<b>Drop off Address:</b>
<br>
<p><%=@user_details.move_to%></p>
<br>
<b>Town/City:</b>
<br>
<p><%=@user_details.city%></p>
<br>
<b>State/Country:</b>
<br>
<p><%=@user_details.country%></p>
<br>
<b>Zipcode:</b>
<br>
<p><%=@user_details.zipcode%></p>
<br>

<b>Preferred Time Slot:</b>
<br>

	<p><%=@user_details.time_slot%></p>
<b>No. of Bedrooms:</b>
<br>

	<p><%=@user_details.number_of_bedrooms%></p>
	<br>

<b> Size of Truck:</b>
<br>

	<p><%=@user_details.size_of_truck%></p>
<br>
