<div class="jumbotron text-center">
 <h2>Following customer has requested for quote with below details(details to be fetched from GET A QUOTE Form):</h2>
</div>
<div class="container">
 <div class="row">
   <div class="col-sm-4">
     <h3>Name:</h3>
     <p><%=@u_name%></p>
   </div>
   <div class="col-sm-4">
     <h3>Email Id:</h3>
     <p><%=@u_email%></p>
   </div>
   <div class="col-sm-4">
     <h3>Phone:</h3>        
     <p><%=@u_phone%></p>
   </div>
   <div class="col-sm-4">
     <h3>Date to move:</h3>        
     <p><%=@u_date_to_move%></p>
   </div><div class="col-sm-4">
     <h3>Move from:</h3>        
     <p><%=@u_move_from%></p>
   </div>
   </div><div class="col-sm-4">
     <h3>Move to:</h3>        
     <p><%=@u_move_to%></p>
   </div>

   <div class="col-sm-4">
     <h3>Description:</h3>        
     <p><%=@u_des%></p>
   </div>
 </div>
</div>