<section class="page_breadcrumbs template_breadcrumbs ds parallax">
				<div class="container-fluid">
					<div class="row">
						<div class="breadcrumbs_wrap col-lg-5 col-md-7 col-sm-8 text-right to_animate" data-animation="fadeInLeftLong">
							<div class="to_animate" data-animation="fadeInLeft" data-delay="500">
								<h2>About us</h2>
							</div>

							<ol class="breadcrumb greylinks to_animate" data-animation="fadeInLeft" data-delay="400">
								<li>
									<a href="./">
										Home
									</a>
								</li>
								<li>
									<a href="#">Pages</a>
								</li>
								<li class="active">About us</li>
							</ol>
						</div>
					</div>
				</div>
</section>
<section class="ls section_padding_top_100">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="framed-heading">
								<h2 class="section_header">
									We are
									<span class="highlight2">MoveCo</span>
									<br>
									<span class="small">Moving Company</span>
								</h2>
							</div>
							<p class="bottommargin_40">
								Etiam blandit blandit metus, at lacinia turpis volutpat a. Etiam tortor velit, viverra nec est sed, semper facilisis turpis. Nam non mattis arcu. Proin vehicula scelerisque sagittis. Fusce convallis viverra mi, et vulputate nunc tempor vitae. Cras eget
								ornare arcu, eget venenatis arcu.
							</p>
							<h3 class="entry-title">Frequently Asked questions</h3>

							<div class="panel-group" id="accordion1">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1" class="collapsed">
												<!-- <i class="rt-icon2-bubble highlight"></i> -->
												How quickly can i order moving ?
											</a>
										</h4>
									</div>
									<div id="collapse1" class="panel-collapse collapse">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facere doloremque ut dolores laudantium nihil at, repudiandae est numquam fuga tempora totam sequi quidem saepe officiis sint beatae, magni fugit.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" href="#collapse2" class="collapsed">
												<!-- <i class="rt-icon2-bubble highlight"></i> -->
												where are your consultants based ?
											</a>
										</h4>
									</div>
									<div id="collapse2" class="panel-collapse collapse">
										<div class="panel-body">
											Morbi mi justo, ultrices nec turpis eget, dictum volutpat ex. In sit amet ante sollici, ultrices erat vitae, dapibus risus. Donec finibus est ac lacus sollicitudin, non maler neque commodo. Morbi non blandit massa, vitae placerat libero.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" href="#collapse3" class="collapsed">
												<!-- <i class="rt-icon2-bubble highlight"></i> -->
												what is the fee of your service ?
											</a>
										</h4>
									</div>
									<div id="collapse3" class="panel-collapse collapse">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nobis omnis delectus, asperiores quo obcaecati et iste corporis necessitatibus tempora aspernatur doloribus. Ut deleniti commodi dicta distinctio sit enim quidem!
										</div>
									</div>
								</div>

							</div>

						</div>
						<div class="col-md-6 text-center bottommargin_0">
							<img class="top-overlap-small" src="/assets/person.png" alt="" />
						</div>
					</div>
				</div>
</section>
<section class="ls ms section_padding_100 intro_section4">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-7">
							<div class="row columns_padding_60 columns_margin_bottom_30 columns_margin_top_30">

								<div class="col-sm-6 to_animate" data-animation="pullDown">
									<div class="teaser text-center">
										<div class="teaser_icon size_big">
											<i class="flaticon-house highlight2"></i>
										</div>
										<h4>
											<a href="service-single.html">Residential / Local</a>
										</h4>
										<p>
											We offer packing equipment, packing instructions and tips as well as labor and support to make your move efficient and stress free.
										</p>
									</div>
								</div>

								<div class="col-sm-6 to_animate" data-animation="pullDown">
									<div class="teaser text-center">
										<div class="teaser_icon size_big">
											<i class="flaticon-package highlight2"></i>
										</div>
										<h4>
											<a href="service-single.html">box delovery</a>
										</h4>
										<p>
											We have all the packing supplies, including boxes specifically for clothes, pictures and dishes as well as packing tape and wrap.
										</p>
									</div>
								</div>

								<div class="col-sm-6 to_animate" data-animation="pullDown">
									<div class="teaser text-center">
										<div class="teaser_icon size_big">
											<i class="flaticon-truck highlight2"></i>
										</div>
										<h4>
											<a href="service-single.html">Commercial/Office</a>
										</h4>
										<p>
											Whether it’s just moving floors or across the country, our movers are experienced and trained to effectively handle, transport, and install
										</p>
									</div>
								</div>

								<div class="col-sm-6 to_animate" data-animation="pullDown">
									<div class="teaser text-center">
										<div class="teaser_icon size_big">
											<i class="flaticon-trolley highlight2"></i>
										</div>
										<h4>
											<a href="service-single.html">Loading/Unloading</a>
										</h4>
										<p>
											If you’re looking to save money, we allow our customers to rent the moving truck, and we’ll load and/or unload your belongings.
										</p>
									</div>
								</div>

							</div>
						</div>
						<%= render partial: "partial_our_services" %>
					</div>
				</div>
</section>
<%= render partial: "rating" %>
<%= render partial: "cleint_says" %>

<section class="ls section_padding_top_100 section_padding_bottom_75">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="framed-heading bottommargin_15">
					<h2 class="section_header">
						Our Team
					</h2>
				</div>
				<div class="owl-carousel team-carousel topmargin_60 bottommargin_0" data-responsive-lg="4" data-responsive-md="3" data-responsive-sm="2" data-nav="true">

					<div class="thumbnail">
						<img src="/assets/team/10.jpg" alt="">
						<div class="caption with_border">
							<h3>
								<a href="team-single.html">Mitchell Jackson</a>
							</h3>
							<p>Mover</p>
						</div>
					</div>

					<div class="thumbnail">
						<img src="/assets/team/05.jpg" alt="">
						<div class="caption with_border">
							<h3>
								<a href="team-single.html">Isabella Brady</a>
							</h3>
							<p>Administrator</p>
						</div>
					</div>

					<div class="thumbnail">
						<img src="/assets/team/08.jpg" alt="">
						<div class="caption with_border">
							<h3>
								<a href="team-single.html">Clayton Lyons</a>
							</h3>
							<p>Manager</p>
						</div>
					</div>

					<div class="thumbnail">
						<img src="/assets/team/09.jpg" alt="">
						<div class="caption with_border">
							<h3>
								<a href="team-single.html">Jerry Stewart</a>
							</h3>
							<p>Mover</p>
						</div>
					</div>

					<div class="thumbnail">
						<img src="/assets/team/06.jpg" alt="">
						<div class="caption with_border">
							<h3>
								<a href="team-single.html">Anthony Pierce</a>
							</h3>
							<p>Mover</p>
						</div>
					</div>

					<div class="thumbnail">
						<img src="/assets/team/07.jpg" alt="">
						<div class="caption with_border">
							<h3>
								<a href="team-single.html">Mark Knight</a>
							</h3>
							<p>Mover</p>
						</div>
					</div>

					<div class="thumbnail">
						<img src="/assets/team/04.jpg" alt="">
						<div class="caption with_border">
							<h3>
								<a href="team-single.html">Winifred Powell</a>
							</h3>
							<p>Manager</p>
						</div>
					</div>

					<div class="thumbnail">
						<img src="/assets/team/02.jpg" alt="">
						<div class="caption with_border">
							<h3>
								<a href="team-single.html">Milton Clarke</a>
							</h3>
							<p>Director</p>
						</div>
					</div>

					<div class="thumbnail">
						<img src="/assets/team/11.jpg" alt="">
						<div class="caption with_border">
							<h3>
								<a href="team-single.html">Dominic Ramos</a>
							</h3>
							<p>Assistant Director</p>
						</div>
					</div>

					<div class="thumbnail">
						<img src="/assets/team/12.jpg" alt="">
						<div class="caption with_border">
							<h3>
								<a href="team-single.html">Eric Davis</a>
							</h3>
							<p>Mover</p>
						</div>
					</div>

					<div class="thumbnail">
						<img src="/assets/team/01.jpg" alt="">
						<div class="caption with_border">
							<h3>
								<a href="team-single.html">George Moore</a>
							</h3>
							<p>Mover</p>
						</div>
					</div>

					<div class="thumbnail">
						<img src="/assets/team/03.jpg" alt="">
						<div class="caption with_border">
							<h3>
								<a href="team-single.html">Nicholas Carlson</a>
							</h3>
							<p>Mover</p>
						</div>
					</div>
				</div>
				<!-- <div class="team-carousel-nav owl-nav fullwidth-nav"></div> -->
			</div>

		</div>
	</div>
</section>

<%= render partial: "get_quote"%>

<%= render partial: "our_cleints"%>
