<style type="text/css">
	.site-content h2 {
    border-bottom: 1px dashed #212121;
    color: #484848;
    font-size: 30px;
    margin: 23px 0;
    padding-bottom: 16px;
}

post-9 img {
    border: 1px dashed #fafafa;
    float: left;
    margin-right: 30px;
    padding: 5px;
    position: relative;
}
</style>
<script type="text/javascript">
	document.getElementById("home_page_about_us").className = "active";
	document.getElementById("home_page_link").className = "";
</script>
<div id="main" class="site-main container content_font_color" >
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
				<h2>About Us</h2>
					<article id="post-9" class="post-9 page type-page status-publish hentry">
						<div class="entry-content">
							<p><img src="/assets/ABOUT US.jpg" alt="Budget Movers in Melbourne" style="float: left" /> 1300 EAGLE MOVERS have taken the initiative to start the company in order to facilitate transport services for various needs. 1300 EAGLE MOVERS believe in the importance of operating as independent carriers, responding quickly to your needs with prompt, effective and global solutions. With us you deal with a single, global and highly specialized company which is able to provide the necessary answers to all your particular transport requirements. A comprehensive service wherein all the activities related to <b><a href="<%= home_service_packing_moving_path%>">moving and packing</a></b> are offered by us. The customer can pass on the entire responsibility to us.</p>
							<p>1300 EAGLE MOVERS have devised convenient and brilliant ways to move its customers’ <b><a href="<%= home_why_us_path%>">households</a></b> or vehicles anywhere within the territory. Our services are proficiently designed to meet the maximum <b><a href="<%= home_service_residential_moving_path%>">customer satisfaction</a></b>, and they are also rendered in such a way, so as to come out high on the expectations of our clients, time and again. As a service provider of the industry 1300 EAGLE MOVERS always take in mind that customers are our biggest asset and this glance make us enable to serve them with our services of <b><a href="<%= home_service_furniture_moving_path%>">packaging and shifting</a></b> with extreme dedication for their satisfaction. So, as our customer, you can be totally assured of availing the safest and <b><a href="<%=home_contact_path%>">faster services</a></b>, which are being executed at the right time, whereby ensuring that the goods get delivered to you in the intact condition.</p>
							<p>Our dedicated and committed team puts heart and soul into the entire <b><a href="<%= home_service_packing_moving_path%>">packing and moving</a></b> process. Packing materials like tubular packing and high quality corrugated sheets are used to provide complete safeguard to your precious <b><a href="<%= home_service_residential_moving_path%>">household items</a></b> and protect against any kind of breakages during transition.<br />
							That is what makes us one of the <b><a href="<%=root_path%>">best service providers</a></b> in this sector. 1300 EAGLE MOVERS have a boastful clientele that makes us feel proud of our services and staff at the end of each passing day.</p>
						</div><!-- .entry-content -->

						<footer class="entry-meta">
					    </footer><!-- .entry-meta -->
					</article><!-- #post -->

				
<div id="comments" class="comments-area">
</div><!-- #comments -->			
		</div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #main -->
<%=render partial:"quotes_and_pricing_buttons"%>