
<%= csrf_meta_tags %>
<style type="text/css">
	.request_callback{
		background: none repeat scroll 0 0 #000;
	    color: #efefef;
	    font-size: 17px;
	    padding: 0px 10px 7px;
	    z-index: 1001;
	    position: fixed;
	    right: -52px;
	    top: 45%;
	    transform: rotate(-90deg);
	    border-radius: 5px 5px 0 0;
	    cursor: pointer;
	    right: -81px;
	}

	#popup_title {

    background: none repeat scroll 0 0 #eee;
    border: 3px solid #276ab2;
    border-radius: 5px;
    bottom: 0;
    box-shadow: 0 0 15px #555;
    display: none;
    font-size: 15px;
    left: calc(50% - 300px);
    margin-left: 0px;
    max-height: 100%;
    position: fixed;
    top: 0;
    width: 600px;
    max-width: 90%;
    z-index: 100000;
}

.box {
  width: 200px;
  position: relative;
  background: #EEE;
}
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 94px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

style.css?ver=2013-07-18:806
#popup_box {
	}
</style>



<section class="intro_section page_mainslider">
				<div class="flexslider">
					<ul class="slides">
						<li class="cs">
							<img src="assets/slider image.jpg" alt="">
							<div class="bg_overlay">
								<div class="frame"></div>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<p class="big">
														FAST MOVING?
												</div>
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<p class="divider_20">
													When its time to move out of your home or business, its time to call <span style="color: #f59223;"><b>1300 EAGLE MOVERS</b></span>.We make it easy on you and faster than others.
													</p>
												</div>
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<a href="<%=home_book_online_path%>" class="theme_button color2" style="font-size: 24px;    font-weight: 400;">BOOK ONLINE
													<div class="ribbon"><span>10% OFF</span></div>
													</a>
												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
						<li class="cs">
							<img src="assets/slider-03.jpg" alt="">
							<div class="bg_overlay">
								<div class="frame"></div>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<p class="big">
														BUDGET REMOVALISTS
													</p>
												</div>
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<p class="divider_20">
														Quality shows in every move <span style="color: #273754;"><b>1300 EAGLE MOVERS</b></span> make.<br>
														Modern Vehicles and Equipment.<br>
														Affordable and Reliable.
													</p>

												</div>
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<a href="<%=home_book_online_path%>" class="theme_button" style="font-size: 24px;    font-weight: 400;">BOOK ONLINE
													<div class="ribbon"><span>10% OFF</span></div>
													</a>

												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
						<li class="cs">
							<img src="assets/slider-02.jpg" alt="">
							<div class="bg_overlay">
								<div class="frame"></div>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<p class="big">
														LET US HELP YOU!
													</p>
												</div>
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<p class="divider_20">
														Fully Insured.<br>
														Door to Door charges.<br>
														Competetive rates.<br>

													</p>

												</div>
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													

													<a href="<%=home_book_online_path%>" class="theme_button color2" style="font-size: 24px;    font-weight: 400;">BOOK ONLINE
													<div class="ribbon"><span>10% OFF</span></div>
													</a>
												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
					</ul>
				</div>
				<!-- eof flexslider -->
			</section>

			<section class="ls section_padding_top_65 section_padding_bottom_100 columns_margin_bottom_30 page_about">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-7">
							<div class="framed-heading">
								<h2 class="section_header">
									<span class="highlight2">Good Experience</span>
									<br>
									<span class="small">in Moving Services</span>
								</h2>
							</div>
							<p>
								1300 EAGLE MOVERS have taken the initiative to start the company in order to facilitate Transport Services for various needs. 1300 EAGLE MOVERS believe in the importance of operating as independent carriers, responding quickly to your needs with prompt, effective and global solutions.
								With us you deal with a single, global and highly Specialized Company which is able to provide the necessary ans1300 EAGLE MOVERSrs to all your particular transport Requirements. 

							</p>
							<a href="<%=home_about_us_path%>" class="theme_button topmargin_30">Learn more</a>
						</div>
						<div class="col-md-5 col-lg-offset-1">
							<div class="content-card with_background offset-card">
								<h3 class="bold text-uppercase inverse_bg_color text-center">get a quote</h3>
								<div class="with_padding">
									<%= render partial: "get_quote_form"%>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section_padding_140 page_services intro_section2">
				<div class="container-fluid">
					<div class="row columns_margin_bottom_20">
						<div class="col-md-8 content-block-left ls to_animate" data-animation="fadeInLeft">
							<div class="row">
								<div class="col-sm-6 to_animate" data-animation="pullDown">
									<div class="media teaser">
										<div class="media-left">
											<div class="teaser_icon size_normal">
												<a href="<%= home_service_residential_moving_path%>">
												 <i class="flaticon-house grey"></i>
												</a>
											</div>
										</div>
										<div class="media-body">
											<a href="<%= home_service_residential_moving_path%>">
												<h4 class="text-uppercase fontsize_20 extrabold bottommargin_20">Residential / Local</h4>
											</a>
											<p>
												<span style="color: #273754;">1300 EAGLE MOVERS</span> provide you with utmost technical equipment and experrienced staff which will ensure quality work round the clock.

											</p>
										</div>
									</div>
								</div>

								<div class="col-sm-6 to_animate" data-animation="pullDown">
									<div class="media teaser">
										<div class="media-left">
											<div class="teaser_icon size_normal">
												<a href="<%=home_service_office_moving_path%>">
												 <i class="flaticon-package grey"></i>
												</a>
											</div>
										</div>
										<div class="media-body">
											<a href="<%=home_service_office_moving_path%>">
												<h4 class="text-uppercase fontsize_20 extrabold bottommargin_20">COMMERCIAL/OFFICE</h4>
											</a>
											<p>
												<span style="color: #273754;">1300 EAGLE MOVERS</span> provide hassle free and quick relocation at workplace so that your office can retain its normal levels of productivity easily.

											</p>
										</div>
									</div>
								</div>

								<div class="col-sm-6 to_animate" data-animation="pullDown">
									<div class="media teaser">
										<div class="media-left">
											<div class="teaser_icon size_normal">
												<a href="<%=home_service_interstate_moving_path%>">
												 <i class="flaticon-truck grey"></i>
												</a>

											</div>
										</div>
										<div class="media-body">
											<a href="<%=home_service_interstate_moving_path%>">
												<h4 class="text-uppercase fontsize_20 extrabold bottommargin_20">INTERSTATE MOVING</h4>
											</a>
											<p>
												<span style="color: #273754;">1300 EAGLE MOVERS</span> is the only secure and trusted platform which will provide you with affordable interstate packages.


											</p>
										</div>
									</div>
								</div>

								<div class="col-sm-6 to_animate" data-animation="pullDown">
									<div class="media teaser">
										<div class="media-left">
											<div class="teaser_icon size_normal">
												<a href="<%=home_service_secure_storage_moving_path%>">
   												 <i class="flaticon-trolley grey"></i>
 												</a>
											</div>
										</div>
										<div class="media-body">
											<a href="<%=home_service_secure_storage_moving_path%>">
												<h4 class="text-uppercase fontsize_20 extrabold bottommargin_20">WAREHOUSING</h4>
											</a>
											<p>
												<span style="color: #273754;">1300 EAGLE MOVERS</span> offer storage and in-transit warehousing facilities for house hold goods, furniture, industrial goods & automobiles.

											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 content-block-right cs to_animate" data-animation="fadeInRightLong">
							<div class="to_animate" data-animation="fadeInRight" data-delay="300">
								<div class="framed-heading side-frame">
									<h2 class="section_header">
										Our
										<br> services
									</h2>
								</div>
								<p>
									<span style="color: goldenrod;">1300 EAGLE MOVERS</span> offer varied services catering to all needs of the customers. We will pack it, stack it, but never crack it. We can also provide customized vehicles on demand.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_100 columns_margin_bottom_30 section_padding_bottom_75">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6 text-center">
							<div class="teaser counter-teaser media inline-block text-left">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight2 size_big">
										<i class="flaticon-like"></i>
									</div>
								</div>
								<div class="media-body media-middle">
									<h3 class="counter" data-from="0" data-to="8042" data-speed="1800">0</h3>
									<p class="small-text">clients trust in us</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-sm-6 text-center">
							<div class="teaser counter-teaser media inline-block text-left">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight2 size_big">
										<i class="flaticon-truck-1"></i>
									</div>
								</div>
								<div class="media-body media-middle">
									<h3 class="counter" data-from="0" data-to="10932" data-speed="1800">0</h3>
									<p class="small-text">Km for year</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-sm-6 text-center">
							<div class="teaser counter-teaser media inline-block text-left">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight2 size_big">
										<i class="flaticon-trolley"></i>
									</div>
								</div>
								<div class="media-body media-middle">
									<h3 class="counter" data-from="0" data-to="5721" data-speed="1800">0</h3>
									<p class="small-text">Tons of goods</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-sm-6 text-center">
							<div class="teaser counter-teaser media inline-block text-left">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight2 size_big">
										<i class="flaticon-percentage"></i>
									</div>
								</div>
								<div class="media-body media-middle">
									<h3 class="counter" data-from="0" data-to="689" data-speed="1800">0</h3>
									<p class="small-text">Held shares</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>




<!-- starts -->

<!-- ends -->
			<section class="ls section_padding_top_75 section_padding_bottom_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="framed-heading">
								<h2 class="section_header">
									Our Prices
								</h2>
							</div>


								
							</div>
						</div>
					</div>


				<!-- demo start-->

				<div class="row">
				<div class="col-md-12" style="margin-left: 3%; margin-bottom: 6%;">
					<div class="col-md-2 col-sm-4 enlarged_div prices_grey" style="padding: 0; margin: 0; margin-bottom: 3%;">
						<article class="vertical-item content-padding with_grey_border blog-item corner_article">
							<div class="item-content" style="padding: 1%">
								<header class="entry-header" style="text-align: center;">
									<ul class="price-table" style="padding: 1%;list-style-type: none;">
					                    <li class="plan-name">
					                      <h3>4.5 TONNE TRUCK WITH 2MEN</h3>
					                      <!-- <p>IDEAL FOR 1-2 BEDROOMS/ SMALL MOVES</p> -->
					                    </li>
					                    <li class="plan-price pricing_value">$80/HR*</li>
				                    </ul>
								</header>
									<li class="features-list no_list_style">
										<ul class="feature_list feature_list_black" style="list-style-type: none;">
					                        <li class="enabled">IDEAL FOR 1-2 BEDROOMS</li>
					                        <li class="enabled">20m³ BOX</li>
					                        <li class="enabled">2 hours minimum</li>
					                        <li class="enabled">Full-Insurance</li>
					                        <li class="enabled">15 minutes charging block</li>
					                        <li class="enabled">No Fuel cost/return cost on Local moves</li>
					                        <li class="enabled">NO HIDDEN CHARGES</li>
					                    </ul>
					                    <ul style="list-style-type: none;text-align: center;">
						                    <li  >
						                      <a href="<%=new_request_quote_path%>" class="theme_button">GET A QUOTE</a>
						                    </li>
					                    </ul>
					                </li>
							</div>
						</article>
					</div>
					<div class="col-md-7 col-sm-12" style="background-repeat: no-repeat;background-image: url(assets/price-feature.jpg); background-size:cover;margin: -0.3%; padding: 0; margin-left: 1%;">
						<div class="col-md-4 col-sm-6 divs_on_image enlarged_div" >
							<article class="vertical-item content-padding with_blue_border blog-item">
								<div class="item-content price_contnt" style="padding: 1%">
									<header class="entry-header" style="text-align: center;">
										<ul class="price-table" style="padding: 1%;list-style-type: none;">
						                    <li class="plan-name">
						                      <h3 style="color: white;">6 TONNE TRUCK WITH 2MEN</h3>
						                      <!-- <p>IDEAL FOR 2-3 BEDROOMS</p> -->
						                    </li>
						                    <li class="plan-price pricing_value">$90/HR*</li>
					                    </ul>
									</header>
										<li class="features-list no_list_style">
											<ul class="feature_list" style="list-style-type: none;">
						                        <li class="enabled">IDEAL FOR 2-3 BEDROOMS</li>
						                        <li class="enabled">26m³ BOX</li>
						                        <li class="enabled">2 hours minimum</li>
						                        <li class="enabled">Full-Insurance</li>
						                        <li class="enabled">15 minutes charging block</li>
						                        <li class="enabled">No Fuel cost/return cost on Local moves</li>
						                        <li class="enabled">NO HIDDEN CHARGES</li>
						                    </ul>
						                    <ul style="list-style-type: none;text-align: center;">
							                    <li  >
							                      <a href="<%=new_request_quote_path%>" class="theme_button inverse">GET A QUOTE</a>
							                    </li>
						                    </ul>
					                    </li>
								</div>
							</article>
						</div>

						<div class="col-md-4 col-sm-6 divs_on_image enlarged_div prices_grey" style="opacity: 0.8;">
							<article class="vertical-item content-padding with_grey_border blog-item">
								<div class="item-content price_contnt_grey" style="padding: 1%">
									<header class="entry-header" style="text-align: center;">
										<ul class="price-table" style="padding: 1%;list-style-type: none;">
						                    <li class="plan-name">
						                      <h3>8 TONNE TRUCK WITH 2MEN</h3>
						                      <!-- <p>IDEAL FOR 3-4 BEDROOMS</p> -->
						                    </li>
						                    <li class="plan-price pricing_value">$100/HR*</li>
					                    </ul>
									</header>
										<li class="features-list no_list_style">
											<ul class="feature_list feature_list_black" style="list-style-type: none;">
						                        <li class="enabled">IDEAL FOR 3-4 BEDROOMS</li>
						                        <li class="enabled">36m³ BOX</li>
						                        <li class="enabled">3 hours minimum</li>
						                        <li class="enabled">Full-Insurance</li>
						                        <li class="enabled">15 minutes charging block</li>
						                        <li class="enabled">No Fuel cost/return cost on Local moves</li>
						                        <li class="enabled">NO HIDDEN CHARGES</li>
						                    </ul>
						                    <ul style="list-style-type: none;text-align: center;">
							                    <li  >
							                      <a href="<%=new_request_quote_path%>" class="theme_button ">GET A QUOTE</a>
							                    </li>
						                    </ul>
					                    </li>
								</div>
							</article>
						</div>

						<div class="col-md-4 col-sm-6 divs_on_image enlarged_div">
							<article class="vertical-item content-padding with_blue_border blog-item">
								<div class="item-content price_contnt" style="padding: 1%">
									<header class="entry-header" style="text-align: center;">
										<ul class="price-table" style="padding: 1%;list-style-type: none;">
						                    <li class="plan-name">
						                      <h3 style="color: white;">10 TONNE TRUCK WITH 2MEN</h3>
						                      <!-- <p>IDEAL FOR 3-4 BEDROOMS/BIG STUFF</p> -->
						                    </li>
						                    <li class="plan-price pricing_value">$110/HR*</li>
					                    </ul>
									</header>
										<li class="features-list no_list_style">
											<ul class="feature_list" style="list-style-type: none;">
						                        <li class="enabled">IDEAL FOR 3-4 BEDROOMS</li>
						                        <li class="enabled">40m³ BOX</li>
						                        <li class="enabled">4 hours minimum</li>
						                        <li class="enabled">Full-Insurance</li>
						                        <li class="enabled">15 minutes charging block</li>
						                        <li class="enabled">No Fuel cost/return cost on Local moves</li>
						                        <li class="enabled">NO HIDDEN CHARGES</li>
						                    </ul>
						                    <ul style="list-style-type: none;text-align: center;">
							                    <li  >
							                      <a href="<%=new_request_quote_path%>" class="theme_button white_button inverse">GET A QUOTE</a>
							                    </li>
						                    </ul>
					                    </li>
								</div>
							</article>
						</div>
					</div>

					<div class="col-md-2 col-sm-4 enlarged_div prices_grey" style="padding: 0; margin: 0; margin-left: 1%; margin-bottom: 3%;">
						<article class="vertical-item content-padding with_grey_border blog-item corner_article">
							<div class="item-content" style="padding: 1%">
								<header class="entry-header" style="text-align: center;">
									<ul class="price-table" style="padding: 1%;list-style-type: none;">
					                    <li class="plan-name">
					                      <h3>12 TONNE TRUCK WITH 2MEN</h3>
					                      <!-- <p>IDEAL FOR 4-5 BEDROOMS/BIG STUFF</p> -->
					                    </li>
					                    <li class="plan-price pricing_value">$120/HR*</li>
				                    </ul>
								</header>
									<li class="features-list no_list_style">
										<ul class="feature_list feature_list_black" style="list-style-type: none;">
					                        <li class="enabled">IDEAL FOR 4-5 BEDROOMS</li>
					                        <li class="enabled">50m³ BOX</li>
					                        <li class="enabled">4 hours minimum</li>
					                        <li class="enabled">Full-Insurance</li>
					                        <li class="enabled">15 minutes charging block</li>
					                        <li class="enabled">No Fuel cost/return cost on Local moves</li>
					                        <li class="enabled">NO HIDDEN CHARGES</li>
					                    </ul>
					                    <ul style="list-style-type: none;text-align: center;">
						                    <li  >
						                      <a href="<%=new_request_quote_path%>" class="theme_button ">GET A QUOTE</a>
						                    </li>
					                    </ul>
				                    </li>
							</div>
						</article>
					</div>
				</div>
				</div>

			<!-- demo end -->




			</section>
						<section class="cs section_padding_75 parallax page_banner">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="framed-heading to_animate" data-animation="fadeInUp">
								<h2 class="section_header small">
									PLAN YOUR MOVING AND 
									<span class="highlight2">GET 10% OFF</span>
								</h2>
							</div>
							<div class="to_animate" data-animation="fadeInDown">
								<p class="to_animate">
									For our valued customers, we bring a new deal and offer 10% discount when you BOOK ONLINE.
								</p>
								<a href="<%=home_book_online_path%>" class="theme_button color2">BOOK ONLINE</a>

							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="cs section_padding_top_100 section_padding_bottom_75 parallax page_testimonials columns_margin_bottom_30" style="margin-top: 1%;">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="framed-heading side-frame">
								<h2 class="section_header">
									Hear From Our Happy Clients
								</h2>
							</div>
							<p class="leftmargin_50">
								
							</p>
						</div>
						<div class="col-lg-8">
							<div class="owl-carousel testimonials-carousel margin_0" data-responsive-lg="2" data-responsive-md="2" data-responsive-sm="2" data-responsive-xs="1" data-nav="true" data-nav-container=".testimonials-carousel-nav">
								<blockquote class="margin_0">
									 What an absolutely awesome job 1300 EAGLE MOVERS crew did today, polite, professional and quick, thank you so much for all your hard work. You made a difficult task so much easier to bear!. 

									<div class="item-meta">
										<h5 class="highlight2">Amanda Jarvis</h5>
									</div>
								</blockquote>

								<blockquote class="margin_0">
									 1300 eagle movers was an absolute joy to work with. These guys arrived on time, loaded the truck carefully, methodically and checked in with me whenever 1300 EAGLE MOVERS aren't sure about something (instead of making assumptions).

								</blockquote>

								<blockquote class="margin_0">
									GREAT MOVERS IN MELBOURNE! REALLY APPRECIABLE! The crew arrived exactly as scheduled. I called the day before and to my amazement, they had a crew available the following day.
								</blockquote>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid testimonials-carousel-nav owl-nav"></div>
			</section>
			<%= render partial: "our_cleints"%>

<script type="text/javascript">

	function change_body_pading(){
		setTimeout(function(){
		  $('body').css('padding', '0')
		}, 500);
	}
</script>