<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%= csrf_meta_tags %>
<style type="text/css">
	.request_callback{
		background: none repeat scroll 0 0 #000;
	    color: #efefef;
	    font-size: 17px;
	    padding: 0px 10px 7px;
	    z-index: 1001;
	    position: fixed;
	    right: -52px;
	    top: 45%;
	    transform: rotate(-90deg);
	    border-radius: 5px 5px 0 0;
	    cursor: pointer;
	    right: -81px;
	}

	#popup_title {

    background: none repeat scroll 0 0 #eee;
    border: 3px solid #276ab2;
    border-radius: 5px;
    bottom: 0;
    box-shadow: 0 0 15px #555;
    display: none;
    font-size: 15px;
    left: calc(50% - 300px);
    margin-left: 0px;
    max-height: 100%;
    position: fixed;
    top: 0;
    width: 600px;
    max-width: 90%;
    z-index: 100000;
}
style.css?ver=2013-07-18:806
#popup_box {
	}
</style>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" style="height: 580px; padding: 7%">
          <div id="popup_box" style="display: block; left: 421px;">  
			<div style="height: 40px;
    				font-size: 34px; color: rgba(246, 147, 35, 0.85);">
				Request a call back </div>
			<div id="form_container" style="height: 40px;">
				<p id="popup_description">
										</p>
				
    				<button onclick="change_body_pading()" type="button" style="float: right;
    				margin-top: -45px;"  class="btn btn-default" data-dismiss="modal">x</button>
				<div role="form" class="wpcf7" id="wpcf7-f334-o2" lang="en-US" dir="ltr">
			<div class="screen-reader-response"></div>
			<form name="" action="<%=home_call_me_back_path%>" method="post" class="wpcf7-form" novalidate="novalidate">
			<div style="display: none;">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="_wpcf7" value="334">
			<input type="hidden" name="_wpcf7_version" value="4.2">
			<input type="hidden" name="_wpcf7_locale" value="en_US">
			<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f334-o2">
			<input type="hidden" name="_wpnonce" value="26f1ee66c2">
			</div>
			<p>Your Name (required)<br>
			    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" style="width: 100%" aria-required="true" aria-invalid="false"></span> </p>
			<p>Subject<br>
			    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text" style="width: 100%" aria-invalid="false"></span> </p>
			<p>Phone No.<br>
			<span class="wpcf7-form-control-wrap tel-382"><input type="tel" name="phone_number" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" style="width: 100%" aria-required="true" aria-invalid="false"></span></p>
			<p>Your Message<br>
			    <span class="wpcf7-form-control-wrap your-message"><textarea style="height: 80px; width: 100%; height: 100px; border-color: rgba(52, 52, 52, 0.2); border-width: 2px;" name="message" cols="40" rows="10" class="" aria-invalid="false"></textarea></span> </p>
			<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit"><img class="ajax-loader" src="http://www.melbournespeediemovers.com.au/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;"></p>
			<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>				</div>
				<!--<div class="success" style="display: none;">Successfully Submitted ...</div>-->
			     
			</div>
        </div>
      </div>
      
    </div>
  </div>
  
</div>


<a data-toggle="modal" data-target="#myModal"  class="side-enquiry request_callback">
REQUEST A CALL BACK</a>

<section class="intro_section page_mainslider">
				<div class="flexslider">
					<ul class="slides">
						<li class="cs">
							<img src="assets/slider-01.jpg" alt="">
							<div class="bg_overlay">
								<div class="frame"></div>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<p class="big">
														FAST MOVING?
												</div>
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<p class="divider_20">
													When its time to move out of your home or business, its time to call <span style="color: goldenrod;">1300 EAGLE MOVERS</span>.We make it easy on you and faster than others.
													</p>
												</div>
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<a href="free-quote.html" class="theme_button color2">BOOK ONLINE</a>
												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
						<li class="cs">
							<img src="assets/slider-03.jpg" alt="">
							<div class="bg_overlay">
								<div class="frame"></div>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<p class="big">
														BUDGET REMOVALISTS
													</p>
												</div>
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<p class="divider_20">
														Quality shows in every move <span style="color: #273754;">1300 EAGLE MOVERS</span> make.<br>
														Modern Vehicles and Equipment.<br>
														Affordable and Reliable.
													</p>

												</div>
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<a href="free-quote.html" class="theme_button">BOOK ONLINE</a>
												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
						<li class="cs">
							<img src="assets/slider-02.jpg" alt="">
							<div class="bg_overlay">
								<div class="frame"></div>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<p class="big">
														LET US HELP YOU!
													</p>
												</div>
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													<p class="divider_20">
														Fully Insured.<br>
														Door to Door charges.<br>
														Competetive rates.<br>

													</p>

												</div>
												<div class="intro-layer to_animate" data-animation="fadeInLeft">
													
													<a href="free-quote.html" class="theme_button color2">BOOK ONLINE</a>
												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
					</ul>
				</div>
				<!-- eof flexslider -->
			</section>

			<section class="ls section_padding_top_65 section_padding_bottom_100 columns_margin_bottom_30 page_about">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-7">
							<div class="framed-heading">
								<h2 class="section_header">
									<span class="highlight2">Good Experience</span>
									<br>
									<span class="small">in Moving Services</span>
								</h2>
							</div>
							<p>
								1300 EAGLE MOVERS have taken the initiative to start the company in order to facilitate Transport Services for various needs. 1300 EAGLE MOVERS believe in the importance of operating as independent carriers, responding quickly to your needs with prompt, effective and global solutions.
								With us you deal with a single, global and highly Specialized Company which is able to provide the necessary ans1300 EAGLE MOVERSrs to all your particular transport Requirements. 

							</p>
							<a href="<%=home_about_us_path%>" class="theme_button topmargin_30">Learn more</a>
						</div>
						<div class="col-md-5 col-lg-offset-1">
							<div class="content-card with_background offset-card">
								<h3 class="bold text-uppercase inverse_bg_color text-center">get a quote</h3>
								<div class="with_padding">
									<%= render partial: "get_quote_form"%>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section_padding_140 page_services intro_section2">
				<div class="container-fluid">
					<div class="row columns_margin_bottom_20">
						<div class="col-md-8 content-block-left ls to_animate" data-animation="fadeInLeft">
							<div class="row">
								<div class="col-sm-6 to_animate" data-animation="pullDown">
									<div class="media teaser">
										<div class="media-left">
											<div class="teaser_icon size_normal">
												<a href="<%= home_service_residential_moving_path%>">
												 <i class="flaticon-house grey"></i>
												</a>
											</div>
										</div>
										<div class="media-body">
											<a href="<%= home_service_residential_moving_path%>">
												<h4 class="text-uppercase fontsize_20 extrabold bottommargin_20">Residential / Local</h4>
											</a>
											<p>
												<span style="color: #273754;">1300 EAGLE MOVERS</span> provide you with utmost technical equipment and experrienced staff which will ensure quality work round the clock.

											</p>
										</div>
									</div>
								</div>

								<div class="col-sm-6 to_animate" data-animation="pullDown">
									<div class="media teaser">
										<div class="media-left">
											<div class="teaser_icon size_normal">
												<a href="<%=home_service_office_moving_path%>">
												 <i class="flaticon-package grey"></i>
												</a>
											</div>
										</div>
										<div class="media-body">
											<a href="<%=home_service_office_moving_path%>">
												<h4 class="text-uppercase fontsize_20 extrabold bottommargin_20">COMMERCIAL/OFFICE</h4>
											</a>
											<p>
												<span style="color: #273754;">1300 EAGLE MOVERS</span> provide hassle free and quick relocation at workplace so that your office can retain its normal levels of productivity easily.

											</p>
										</div>
									</div>
								</div>

								<div class="col-sm-6 to_animate" data-animation="pullDown">
									<div class="media teaser">
										<div class="media-left">
											<div class="teaser_icon size_normal">
												<a href="<%=home_service_interstate_moving_path%>">
												 <i class="flaticon-truck grey"></i>
												</a>

											</div>
										</div>
										<div class="media-body">
											<a href="<%=home_service_interstate_moving_path%>">
												<h4 class="text-uppercase fontsize_20 extrabold bottommargin_20">INTERSTATE MOVING</h4>
											</a>
											<p>
												<span style="color: #273754;">1300 EAGLE MOVERS</span> is the only secure and trusted platform which will provide you with affordable interstate packages.


											</p>
										</div>
									</div>
								</div>

								<div class="col-sm-6 to_animate" data-animation="pullDown">
									<div class="media teaser">
										<div class="media-left">
											<div class="teaser_icon size_normal">
												<a href="<%=home_service_secure_storage_moving_path%>">
   												 <i class="flaticon-trolley grey"></i>
 												</a>
											</div>
										</div>
										<div class="media-body">
											<a href="<%=home_service_secure_storage_moving_path%>">
												<h4 class="text-uppercase fontsize_20 extrabold bottommargin_20">WAREHOUSING</h4>
											</a>
											<p>
												<span style="color: #273754;">1300 EAGLE MOVERS</span> offer storage and in-transit warehousing facilities for house hold goods, furniture, industrial goods & automobiles.

											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 content-block-right cs to_animate" data-animation="fadeInRightLong">
							<div class="to_animate" data-animation="fadeInRight" data-delay="300">
								<div class="framed-heading side-frame">
									<h2 class="section_header">
										Our
										<br> services
									</h2>
								</div>
								<p>
									<span style="color: goldenrod;">1300 EAGLE MOVERS</span> offer varied services catering to all needs of the customers. We will pack it, stack it, but never crack it. We can also provide customized vehicles on demand.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_100 columns_margin_bottom_30 section_padding_bottom_75">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6 text-center">
							<div class="teaser counter-teaser media inline-block text-left">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight2 size_big">
										<i class="flaticon-like"></i>
									</div>
								</div>
								<div class="media-body media-middle">
									<h3 class="counter" data-from="0" data-to="8042" data-speed="1800">0</h3>
									<p class="small-text">clients trust in us</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-sm-6 text-center">
							<div class="teaser counter-teaser media inline-block text-left">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight2 size_big">
										<i class="flaticon-truck-1"></i>
									</div>
								</div>
								<div class="media-body media-middle">
									<h3 class="counter" data-from="0" data-to="10932" data-speed="1800">0</h3>
									<p class="small-text">Km for year</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-sm-6 text-center">
							<div class="teaser counter-teaser media inline-block text-left">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight2 size_big">
										<i class="flaticon-trolley"></i>
									</div>
								</div>
								<div class="media-body media-middle">
									<h3 class="counter" data-from="0" data-to="5721" data-speed="1800">0</h3>
									<p class="small-text">Tons of goods</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-sm-6 text-center">
							<div class="teaser counter-teaser media inline-block text-left">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight2 size_big">
										<i class="flaticon-percentage"></i>
									</div>
								</div>
								<div class="media-body media-middle">
									<h3 class="counter" data-from="0" data-to="689" data-speed="1800">0</h3>
									<p class="small-text">Held shares</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section class="ls section_padding_top_75 section_padding_bottom_90 columns_margin_bottom_30 page_blog">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="framed-heading">
								<h2 class="section_header">
									Read Pro Tips in Our Blog
								</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_border blog-item">
								<div class="item-media">
									<img src="assets/srpthumb-p186-380x250-no" alt="">
									<div class="media-links">
										<div class="links-wrap">
											<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="assets/gallery/18.jpg"></a>
											<a class="p-share" title="" href="#"></a>
											<a class="p-like" title="" href="#"></a>
										</div>
									</div>
								</div>
								<div class="item-content">
									<header class="entry-header">

										<span class="date">
											<time datetime="2016-01-10T15:05:23+00:00" class="entry-date">
												June 19th, 2015
											</time>
										</span>

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">Best Residential Moving</a>
										</h3>

									</header>

									<p>
										Planning to move your house? Do not worry, Melbourne Speedie Movers will take the onus of all your belongings and shifting them in pristine condition. Melbourne Speedie Movers provide you with the utmost technical equipment and experienced staff which will ensure quality work round the clock. Household shifting involves 
									</p>
								</div>
							</article>
						</div>

						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_border blog-item">
								<div class="item-media">
									<img src="assets/srpthumb-p188-380x250-no_2" alt="">
									<div class="media-links">
										<div class="links-wrap">
											<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="assets/gallery/03.jpg"></a>
											<a class="p-share" title="" href="#"></a>
											<a class="p-like" title="" href="#"></a>
										</div>
									</div>
								</div>
								<div class="item-content">
									<header class="entry-header">

										<span class="date">
											<time datetime="2016-01-10T15:05:23+00:00" class="entry-date">
												June 14th, 2015
											</time>
										</span>

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">Get Best Packing & Unpacking Services Near To You!</a>
										</h3>

									</header>

									<p>
										Our Melbourne Removalists are expert in moving boxes, which involve packing and unpacking moving items. 1300 EAGLE MOVERS are 1300 EAGLE MOVERSll trained in the art of dismantling things and re-arranging them in a packable way. 1300 EAGLE MOVERS have all types of boxes and protection foams and foam peanuts 
									</p>
								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_border blog-item">
								<div class="item-media">
									<img src="assets/srpthumb-p186-380x250-no_3" alt="">
									<div class="media-links">
										<div class="links-wrap">
											<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="assets/gallery/18.jpg"></a>
											<a class="p-share" title="" href="#"></a>
											<a class="p-like" title="" href="#"></a>
										</div>
									</div>
								</div>
								<div class="item-content">
									<header class="entry-header">

										<span class="date">
											<time datetime="2016-01-10T15:05:23+00:00" class="entry-date">
												June 14th, 2015
											</time>
										</span>

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">Cheap Furniture Movers Services in Melbourne Australia!</a>
										</h3>

									</header>

									<p>
										Furniture Removals is a big challenge when moving across Melbourne’s suburbs or even worse if it is interstate. 1300 EAGLE MOVERS will do all the required planning, packing, organizing involved in a furniture removal service in Melbourne. 
									</p>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>

			<section class="cs section_padding_75 parallax page_banner">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="framed-heading to_animate" data-animation="fadeInUp">
								<h2 class="section_header small">
									plan your moving &amp;
									<span class="highlight2">save $100</span>
								</h2>
							</div>
							<div class="to_animate" data-animation="fadeInDown">
								<p class="to_animate">
									Phasellus efficitur, massa posuere ultricies faucibus, purus ante dapibus tellus, ut venenatis magna ut justo. Nunc in molestie, vel eleifend leo. Morbi pretium fringilla turpis.
								</p>
								<a href="plan-moving.html" class="theme_button color2">Plan Moving</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_top_75 section_padding_bottom_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="framed-heading">
								<h2 class="section_header">
									Our Prices
								</h2>
							</div>
							<div class="prices-row topmargin_50">
								<div class="price-table-wrap">
									<ul class="price-table style2">
										<li class="plan-name">
											<h3>Econom</h3>
											<p>subscription</p>
										</li>
										<li class="plan-price">$ 40</li>
										<li class="features-list">
											<ul>
												<li class="enabled">Boxes for packing</li>
												<li class="enabled">Tape for furniture</li>
												<li class="enabled">Tape for fragile items</li>
												<li class="enabled">Trolley for moving</li>
											</ul>
										</li>
										<li class="call-to-action">
											<a href="#" class="theme_button inverse">Order now</a>
										</li>
									</ul>
								</div>

								<div class="price-table-wrap highlighted">
									<ul class="price-table style2">
										<li class="plan-name">
											<h3>Standart</h3>
											<p>subscription</p>
										</li>
										<li class="plan-price">$ 90</li>
										<li class="features-list">
											<ul>
												<li class="enabled">Packing materials</li>
												<li class="enabled">Truck for moving</li>
												<li class="enabled">Movers command</li>
												<li class="enabled">Trolley for moving</li>
											</ul>
										</li>
										<li class="call-to-action">
											<a href="#" class="theme_button inverse">Order now</a>
										</li>
									</ul>
								</div>


								<div class="price-table-wrap">
									<ul class="price-table style2">
										<li class="plan-name">
											<h3>Premium</h3>
											<p>subscription</p>
										</li>
										<li class="plan-price">$ 120</li>
										<li class="features-list">
											<ul>
												<li class="enabled">Packing materials</li>
												<li class="enabled">Truck for moving</li>
												<li class="enabled">Movers command</li>
												<li class="enabled">Trolley for moving</li>
											</ul>
										</li>
										<li class="call-to-action">
											<a href="#" class="theme_button inverse">Order now</a>
										</li>
									</ul>
								</div>

								<div class="price-table-wrap">
									<ul class="price-table style2">
										<li class="plan-name">
											<h3>VIP</h3>
											<p>subscription</p>
										</li>
										<li class="plan-price">$ 200</li>
										<li class="features-list">
											<ul>
												<li class="enabled">Packing materials</li>
												<li class="enabled">Truck for moving</li>
												<li class="enabled">Movers command</li>
												<li class="enabled">Trolley for moving</li>
											</ul>
										</li>
										<li class="call-to-action">
											<a href="#" class="theme_button inverse">Order now</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="cs section_padding_top_100 section_padding_bottom_75 parallax page_testimonials columns_margin_bottom_30">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="framed-heading side-frame">
								<h2 class="section_header">
									Hear From Our Happy Clients
								</h2>
							</div>
							<p class="leftmargin_50">
								
							</p>
						</div>
						<div class="col-lg-8">
							<div class="owl-carousel testimonials-carousel margin_0" data-responsive-lg="2" data-responsive-md="2" data-responsive-sm="2" data-responsive-xs="1" data-nav="true" data-nav-container=".testimonials-carousel-nav">
								<blockquote class="margin_0">
									 What an absolutely a1300 EAGLE MOVERSsome job your crew did today, polite, professional and quick, thank you so much for all your hard work. You made a difficult task so much easier to bear!. 

									<div class="item-meta">
										<h5 class="highlight2">Amanda Jarvis</h5>
									</div>
								</blockquote>

								<blockquote class="margin_0">
									 Melbourne Speedie Movers was an absolute joy to work with. These guys arrived on time, loaded the truck carefully and methodically, and checked in with me whenever they 1300 EAGLE MOVERSren't sure about something (instead of making assumptions).

								</blockquote>

								<blockquote class="margin_0">
									GREAT MOVERS IN MELBOURNE! REALLY APPRECIABLE! The crew arrived exactly as scheduled. I called the day before and to my amazement, they had a crew available the following day.
								</blockquote>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid testimonials-carousel-nav owl-nav"></div>
			</section>
			<%= render partial: "our_cleints"%>


			<section class="cs section_padding_40">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="media inline-block small-teaser text-left teaser-link">
								<span class="media-left media-middle">
									<span class="teaser_icon border_icon round">
										<i class="flaticon-phone-call"></i>
									</span>
								</span>
								<span class="media-body media-middle semibold">
									<span class="bold grey">Any question at</span>
									<br> 1-800-23-456-7890
								</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<a class="media inline-block small-teaser text-left teaser-link" href="contact.html">
								<span class="media-left media-middle">
									<span class="teaser_icon border_icon round">
										<i class="flaticon-house"></i>
									</span>
								</span>
								<span class="media-body media-middle semibold">
									<span class="bold grey">0258 Hans Centers</span>
									<br> Cristoballand, USA
								</span>
							</a>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="media inline-block small-teaser text-left teaser-link">
								<span class="media-left media-middle">
									<span class="teaser_icon border_icon round dark">
										<i class="flaticon-paper-plane"></i>
									</span>
								</span>
								<span class="media-body media-middle semibold">
									<span class="bold grey">Mon-Sat</span>
									<br> 09:00-21:00
								</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<a class="media inline-block small-teaser text-left teaser-link" href="contact.html">
								<span class="media-left media-middle">
									<span class="teaser_icon border_icon round">
										<i class="flaticon-envelope"></i>
									</span>
								</span>
								<span class="media-body media-middle semibold">
									<span class="bold grey">Send your mail at</span>
									<br> moveco@support.com
								</span>
							</a>
						</div>
					</div>
				</div>
			</section>
<script type="text/javascript">

	function change_body_pading(){
		setTimeout(function(){
		  $('body').css('padding', '0')
		}, 500);
	}
</script>