<%=render partial: "free_quote"%>
            <section class="ls section_padding_top_75 section_padding_bottom_100">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="framed-heading">
                                <h2 class="section_header">
                                    Our Prices
                                </h2>
                            </div>


                                
                            </div>
                        </div>
                    </div>


                <!-- demo start-->

                <div class="row">
                <div class="col-md-12" style="margin-left: 3%; margin-bottom: 6%;">
                    <div class="col-md-2 col-sm-4 enlarged_div prices_grey" style="padding: 0; margin: 0; margin-bottom: 3%;">
                        <article class="vertical-item content-padding with_grey_border blog-item corner_article" >
                            <div class="item-content" style="padding: 1%">
                                <header class="entry-header" style="text-align: center;">
                                    <ul class="price-table" style="padding: 1%;list-style-type: none;">
                                        <li class="plan-name">
                                          <h3>4.5 TONNE TRUCK WITH 2MEN</h3>
                                          <!-- <p>IDEAL FOR 1-2 BEDROOMS/ SMALL MOVES</p> -->
                                        </li>
                                        <li class="plan-price pricing_value">$80/HR*</li>
                                    </ul>
                                </header>
                                    <li class="features-list no_list_style">
                                        <ul class="feature_list feature_list_black" style="list-style-type: none;">
                                            <li class="enabled">Ideal for 1-2 bedrooms</li>
                                            <li class="enabled">20m³ BOX</li>
                                            <li class="enabled">2 hours minimum</li>
                                            <li class="enabled">Full-Insurance</li>
                                            <li class="enabled">15 minutes charging block</li>
                                            <li class="enabled">No Fuel cost/return cost on Local moves</li>
                                            <li class="enabled">No hidden charges</li>
                                        </ul>
                                        <ul style="list-style-type: none;text-align: center;">
                                            <li  >
                                              <a href="<%=new_request_quote_path%>" class="theme_button">Get a Quote</a>
                                            </li>
                                        </ul>
                                    </li>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-7 col-sm-12" style="background-repeat: no-repeat;background-image: url(assets/price-feature.jpg); background-size:cover;margin: -0.3%; padding: 0; margin-left: 1%;">
                        <div class="col-md-4 col-sm-6 divs_on_image enlarged_div" >
                            <article class="vertical-item content-padding with_blue_border blog-item">
                                <div class="item-content price_contnt" style="padding: 1%">
                                    <header class="entry-header" style="text-align: center;">
                                        <ul class="price-table" style="padding: 1%;list-style-type: none;">
                                            <li class="plan-name">
                                              <h3 style="color: white;">6 TONNE TRUCK WITH 2MEN</h3>
                                              <!-- <p>IDEAL FOR 2-3 BEDROOMS</p> -->
                                            </li>
                                            <li class="plan-price pricing_value">$90/HR*</li>
                                        </ul>
                                    </header>
                                        <li class="features-list no_list_style">
                                            <ul class="feature_list" style="list-style-type: none;">
                                                <li class="enabled">Ideal for 2-3 bedrooms</li>
                                                <li class="enabled">26m³ BOX</li>
                                                <li class="enabled">2 hours minimum</li>
                                                <li class="enabled">Full-Insurance</li>
                                                <li class="enabled">15 minutes charging block</li>
                                                <li class="enabled">No Fuel cost/return cost on Local moves</li>
                                                <li class="enabled">No hidden charges</li>
                                            </ul>
                                            <ul style="list-style-type: none;text-align: center;">
                                                <li  >
                                                  <a href="<%=new_request_quote_path%>" class="theme_button inverse">Get a Quote</a>
                                                </li>
                                            </ul>
                                        </li>
                                </div>
                            </article>
                        </div>

                        <div class="col-md-4 col-sm-6 divs_on_image enlarged_div prices_grey" style="opacity: 0.8;">
                            <article class="vertical-item content-padding with_grey_border blog-item">
                                <div class="item-content price_contnt_grey" style="padding: 1%">
                                    <header class="entry-header" style="text-align: center;">
                                        <ul class="price-table" style="padding: 1%;list-style-type: none;">
                                            <li class="plan-name">
                                              <h3>8 TONNE TRUCK WITH 2MEN</h3>
                                              <!-- <p>IDEAL FOR 3-4 BEDROOMS</p> -->
                                            </li>
                                            <li class="plan-price pricing_value">$100/HR*</li>
                                        </ul>
                                    </header>
                                        <li class="features-list no_list_style">
                                            <ul class="feature_list feature_list_black" style="list-style-type: none;">
                                                <li class="enabled">Ideal for 3-4 bedrooms</li>
                                                <li class="enabled">36m³ BOX</li>
                                                <li class="enabled">3 hours minimum</li>
                                                <li class="enabled">Full-Insurance</li>
                                                <li class="enabled">15 minutes charging block</li>
                                                <li class="enabled">No Fuel cost/return cost on Local moves</li>
                                                <li class="enabled">No hidden charges</li>
                                            </ul>
                                            <ul style="list-style-type: none;text-align: center;">
                                                <li  >
                                                  <a href="<%=new_request_quote_path%>" class="theme_button ">Get a Quote</a>
                                                </li>
                                            </ul>
                                        </li>
                                </div>
                            </article>
                        </div>

                        <div class="col-md-4 col-sm-6 divs_on_image enlarged_div">
                            <article class="vertical-item content-padding with_blue_border blog-item">
                                <div class="item-content price_contnt" style="padding: 1%">
                                    <header class="entry-header" style="text-align: center;">
                                        <ul class="price-table" style="padding: 1%;list-style-type: none;">
                                            <li class="plan-name">
                                              <h3 style="color: white;">10 TONNE TRUCK WITH 2MEN</h3>
                                              <!-- <p>IDEAL FOR 3-4 BEDROOMS/BIG STUFF</p> -->
                                            </li>
                                            <li class="plan-price pricing_value">$110/HR*</li>
                                        </ul>
                                    </header>
                                        <li class="features-list no_list_style">
                                            <ul class="feature_list" style="list-style-type: none;">
                                                <li class="enabled">Ideal for 3-4 bedrooms</li>
                                                <li class="enabled">40m³ BOX</li>
                                                <li class="enabled">4 hours minimum</li>
                                                <li class="enabled">Full-Insurance</li>
                                                <li class="enabled">15 minutes charging block</li>
                                                <li class="enabled">No Fuel cost/return cost on Local moves</li>
                                                <li class="enabled">No hidden charges</li>
                                            </ul>
                                            <ul style="list-style-type: none;text-align: center;">
                                                <li  >
                                                  <a href="<%=new_request_quote_path%>" class="theme_button white_button inverse">Get a Quote</a>
                                                </li>
                                            </ul>
                                        </li>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 enlarged_div prices_grey" style="padding: 0; margin: 0; margin-left: 1%; margin-bottom: 3%;">
                        <article class="vertical-item content-padding with_grey_border blog-item corner_article">
                            <div class="item-content" style="padding: 1%">
                                <header class="entry-header" style="text-align: center;">
                                    <ul class="price-table" style="padding: 1%;list-style-type: none;">
                                        <li class="plan-name">
                                          <h3>12 TONNE TRUCK WITH 2MEN</h3>
                                          <!-- <p>IDEAL FOR 4-5 BEDROOMS/BIG STUFF</p> -->
                                        </li>
                                        <li class="plan-price pricing_value">$120/HR*</li>
                                    </ul>
                                </header>
                                    <li class="features-list no_list_style">
                                        <ul class="feature_list feature_list_black" style="list-style-type: none;">
                                            <li class="enabled">Ideal for 4-5 bedrooms</li>
                                            <li class="enabled">50m³ BOX</li>
                                            <li class="enabled">4 hours minimum</li>
                                            <li class="enabled">Full-Insurance</li>
                                            <li class="enabled">15 minutes charging block</li>
                                            <li class="enabled">No Fuel cost/return cost on Local moves</li>
                                            <li class="enabled">No hidden charges</li>
                                        </ul>
                                        <ul style="list-style-type: none;text-align: center;">
                                            <li  >
                                              <a href="<%=new_request_quote_path%>" class="theme_button ">Get a Quote</a>
                                            </li>
                                        </ul>
                                    </li>
                            </div>
                        </article>
                    </div>
                </div>
                </div>

            <!-- demo end -->




            </section>
<script type="text/javascript">
    document.getElementById("home_page_pricing").className = "active";
    document.getElementById("home_page_link").className = "";
</script>
            