<style type="text/css">
	.site-content h2 {
    border-bottom: 1px dashed #212121;
    color: #484848;
    font-size: 30px;
    margin: 23px 0;
    padding-bottom: 16px;
}

post-9 img {
    border: 1px dashed #fafafa;
    float: left;
    margin-right: 30px;
    padding: 5px;
    position: relative;
}
</style>
<script type="text/javascript">
	document.getElementById("home_page_services").className = "active service_underline";
	document.getElementById("home_page_link").className = "";
</script>
<div id="main" class="site-main container content_font_color">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
			<h2>Office Moving</h2>
			<article id="post-9" class="post-9 page type-page status-publish hentry">
				<div class="entry-content">
					<p>
						<img src="/assets/office_moving.jpg" alt="Office Moving" title="Office Moving" style="float:left">
						<strong>Stressed up to move your office stuff? </strong><br /> 
						Make it happen with <strong>Melbourne Speedie Moverseasily</strong> and peacefully. Prior planning and organized shifting of office assets will make the work simpler. We provide ahassle-free and quick <b><a href="<%= home_contact_path%>">relocation</a></b> with minimized disruption at the workplace so that his office can quickly return to normal levels of productivity and workflow. Therefore we implement an organized plan after discussing it with <b><a href="<%= home_about_us_path%>">our client</a></b>. With its smooth and quick execution, the task of office <b><a href="<%= home_service_residential_moving_path%>">relocation</a></b> that initially appears to be troublesome becomes a piece of cake.<br />
                        Providing you with the experienced crew, we <b><a href="<%= home_contact_path%>">guarantee</a></b> you optimum <b><a href="<%=root_path%>">quality work</a></b> with zero damage to your valuable items.
					</p>
				</div><!-- .entry-content -->

				<footer class="entry-meta">
			    </footer><!-- .entry-meta -->
			</article><!-- #post -->
			<div id="comments" class="comments-area">
			</div><!-- #comments -->			
		</div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #main -->
<%=render partial:"quotes_and_pricing_buttons"%>

	