<style type="text/css">
	.site-content h2 {
    border-bottom: 1px dashed #212121;
    color: #484848;
    font-size: 30px;
    margin: 23px 0;
    padding-bottom: 16px;
}

post-9 img {
    border: 1px dashed #fafafa;
    float: left;
    margin-right: 30px;
    padding: 5px;
    position: relative;
}
</style>
<script type="text/javascript">
	document.getElementById("home_page_services").className = "active service_underline";
	document.getElementById("home_page_link").className = "";
</script>
<div id="main" class="site-main container content_font_color">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
			<h2>Packing & Moving</h2>
			<article id="post-9" class="post-9 page type-page status-publish hentry">
				<div class="entry-content">
					<p>
						<img src="/assets/packing_service.jpg" alt="Packing &amp; Moving" title="Packing &amp; Moving" style="float:left; padding: 10px">
						At <b><a href="<%=root_path%>">1300 eagle movers</a></b>, we provide efficient packing material that is reliable to face any situation and circumstances. Goods are packed in cuboid boxes with internal walls of bubble wrap to give extra care. For more fragile and delicate items we use eco- friendly, highly flexible fiber sheets. With due attention to minute details while packing processes, <b><a href="<%=home_about_us_path%>">our packing experts</a></b>, work tirelessly to make sure that the goods are perfectly packed and don&#8217;t get damaged during transportation. Our diligent and professional cargo service is market proven for its efficient services and cost-effective rates. <b><a href="<%=home_why_us_path%>">Our company</a></b> operates on the principles of safety, integrity and reliability.<br />
                        For movement of goods, we have got wide variety of trucks which a <b><a href="<%=home_contact_path%>">customer can choose</a></b> according to their needs. For details on types and sizes of trucks please refer to our <a href="<%=home_pricing_path%>">charges</a> section. Call us for further details.
                        </p>
					</p>
				</div><!-- .entry-content -->

				<footer class="entry-meta">
			    </footer><!-- .entry-meta -->
			</article><!-- #post -->
			<div id="comments" class="comments-area">
			</div><!-- #comments -->			
		</div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #main -->
<%=render partial:"quote_button_call_us"%>
