<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
<title>MoveCo</title>
<meta charset="utf-8">
<!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="icon" href="/assets/favicon.JPG" sizes="16x16" type="image/jpg">
<link rel="stylesheet" href="/assets/bootstrap.min.css">
<link rel="stylesheet" href="/assets/main.css" id="color-switcher-link">
<link rel="stylesheet" href="/assets/animations.css">
<link rel="stylesheet" href="/assets/fonts.css">
<script src="/assets/vendor/modernizr-2.6.2.min.js"></script>

<!--[if lt IE 9]>
    <script src="/assets/vendor/html5shiv.min.js"></script>
    <script src="/assets/vendor/respond.min.js"></script>
    <script src="/assets/vendor/jquery-1.12.4.min.js"></script>
<![endif]-->

</head>
<style type="text/css">
	.eagle_logo{
		font-size: 35px;
		padding-top: 1%;
	}
	.header_title{
	    color: white;
	    font-size: 15px;
	    padding-left: 5%;

	}
	.header_div{
		background-color: #394966;
	    border-bottom: 2px solid black;
    	border-top: 2px solid black;
	}
	.top_icons{
		color: black;
    	font-size: 2em;
    	width: unset;
	}
	.phone_icon{
		transform: rotate(105deg);
	}
	.logo_bottom{
		float: right;
	    font-weight: 600;
	    font-size: 19px;
	    color: #394966;
	}
</style>
<body style="padding-right: 0">
<!--[if lt IE 9]>
	<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
<![endif]-->

<div class="preloader">
	<div class="preloader_image"></div>
</div>


<!-- search modal -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">
			<i class="rt-icon2-cross2"></i>
		</span>
	</button>
	<div class="widget widget_search">
		<form method="get" class="searchform form-inline" action="./">
			<div class="form-group">
				<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
			</div>
			<button type="submit" class="theme_button">Search</button>
		</form>
	</div>
</div>

<!-- Unyson messages modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
	<div class="fw-messages-wrap ls with_padding">
		<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
		<!--		
	<ul>
		<li>Message To User</li>
	</ul>
	-->

	</div>
</div>
<!-- eof .modal -->

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
	<div id="box_wrapper">

		<!-- template sections -->

		<section class="page_toplogo table_section ls mainpge_toplogo section_padding_25">
			<div class="header_div">
				<div class="row">
					<!-- <div class="col-sm-3 top_strip_elmt" style="padding-left: 5%;">info@eaglemover.com.au</div> -->
					<div class="col-md-1 col-sm-4 col-xs-2" style="text-align: left;">
						<img src="/assets/telephone _icon.png">
					</div>
							
					<div class="col-md-5 col-sm-4 col-xs-8 top_strip_elmt" style="margin-bottom: 10px; margin-top: 10px; ">1300-EAGLE MOVERS</div>
					<div class="col-md-6 col-sm-3  col-xs-2 top_strip_elmt top_mail_icon" style="text-align: right;float: right; margin-bottom: 10px; margin-top: 10px;">
						<a class="" href="mailto:info@eaglemover.com.au">
							<img src="/assets/header_mail.png">
						</a>
					</div>
				</div>
			</div>
			
			<!--  -->
			 <div class="row" style="padding-top: 1%;">
			    <div class="col-md-5" style="padding-right: 4%;  padding-left: 7%;" >
			    	<img src="/assets/logo3.jpg" style="width: 100%;">
			    </div>
			    <div class="col-md-5" >
			    	<form name="" action="<%=home_call_me_back_path%>" method="post" class="row form-inline wpcf7-form""  id="call_me_back">
				    	<div class="col-md-6" style="padding: 0; margin: 0;" >
							<div style="display: none;">
								<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							</div>
							<div class="form-group" style=" width: 100%">
								<div class="input-group">
									<i class="fa fa-phone highlight" style="    margin-top: 6px; color: #868686;z-index: 10;"></i>
									<input type="number" aria-required="true" size="30" value="" name="phone_number" id="phone_number" class="form-control" placeholder="Add your number" style="width: 100%;    margin-bottom: 1%; font-size: 14px;" required>
								</div>
							</div>
							<!-- <div class="row form-group">
								<div class="col-md-6 input-group">
									<i class="fa fa-phone highlight" style="margin-top: 8px;"></i>
									<input type="number" aria-required="true" size="30" value="" name="phone_number" id="phone_number" class="" placeholder="Add your number" style=" width: 100%;padding-left: 20%;" required>
								</div>
							</div> -->
				    	</div>
				    	<div class="col-md-6" style="padding: 0" >
							<input type="submit" onclick="call_me_back_details()" value="Request a call back" style="width: 100%; background-color: #394966;" class="">
						</div>
					</form>
			    </div>
			    <div class="col-md-2" style="padding: 0;text-align: center;">
				    <div class="">
						<a href="#" class="social-icon border-icon rounded-icon theme-color2-icon soc-facebook "></a>
						<a href="#" class="social-icon border-icon rounded-icon theme-color2-icon soc-twitter"></a>
						<a href="#" class="social-icon border-icon rounded-icon theme-color2-icon soc-google"></a>
					</div>
				</div>
    		</div>

  <!--  -->
		<!-- logo demo starts-->
		
		<!-- logo demo ends -->
		<!--  -->
	
			<!--  -->
		</section>

		<header class="page_header header_darkgrey ms toggle_menu_left">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<!-- main nav start -->
						<nav class="mainmenu_wrapper">
							<ul class="mainmenu nav sf-menu">
								<li id="home_page_link" class="active">
									<a href="<%=root_path%>">Home</a>
								</li>
								<li id="home_page_about_us" class="home_page_about_us">
									<a  href="<%=home_about_us_path%>">About Us</a>
								</li>
								
								<li id="home_page_services" class="home_page_services" style="">
									<a href="#">Services</a>
									<ul>
										
										
										<li>
											<a href="<%=home_service_residential_moving_path%>">Residential Moving</a>
										</li>
										<li>
											<a href="<%=home_service_office_moving_path%>">Office Moving</a>
										</li>
										<li>
											<a href="<%=home_service_piano_moving_path%>">Piano Moving</a>
										</li>
										<li>
											<a href="<%=home_service_furniture_moving_path%>">Funiture Moving</a>
										</li>
										<li>
											<a href="<%=home_service_pool_moving_path%>">Pool Moving</a>
										</li>
										<li>
											<a href="<%=home_service_interstate_moving_path%>">Interstate Moving</a>
										</li>
										<li>
											<a href="<%=home_service_packing_moving_path%>">Packing & Moving</a>
										</li>
										<li>
											<a href="<%=home_service_secure_storage_moving_path%>">WAREHOUSE AND STORAGE FACILITY </a>
										</li>
									</ul>
								</li>

								<li id="home_page_why_us" class="home_page_why_us">
									<a href="<%=home_why_us_path%>">Why Us</a>
								</li>

								<li id="home_page_plan_moving" class="home_page_plan_moving">
									<a href="<%=home_plan_moving_path%>">Plan Moving</a>
								</li>

								<!-- contacts -->
								<li id="home_page_pricing" class="home_page_pricing">
									<a href="<%=home_pricing_path%>">Pricing</a>
								</li>

								<li id="home_page_contact_us">
									<a href="<%= home_contact_path%>">Contact us</a>
								</li>

								<li>
									<a href="#" class="search_modal_button">
										<i class="flaticon-magnifying-glass"></i>
									</a>
								</li>
								<!-- eof contacts -->
							</ul>
						</nav>
						<!-- eof main nav -->
					</div>
					<!-- eof .header_mainmenu -->
					<div class="col-md-3 text-right">
						<span class="toggle_menu">
							<span></span>
						</span>
						<a href="free-quote.html" class="theme_button">Get free quote</a>
					</div>
				</div>
			</div>
		</header>
			<%=yield%>

		<footer class="page_footer ds ms color section_padding_75 columns_margin_bottom_30">
				<div class="container" style="padding-bottom: 3%">
					<div class="row">
						<div class="col-md-4 col-sm-12">
							<h3 class="widget-title highlight2">About 1300 eagle movers</h3>
							<p class="topmargin_40 bottommargin_30">
								We have taken the initiative to start the company in order to facilitate transport services for various needs. We believe in the importance of operating as independent carriers, 
								responding quickly to your needs with prompt, 
								effective and global solutions.
							</p>
							
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="widget widget_recent_entries">
								<h3 class="widget-title highlight2">Quick Contact</h3>
								<p class="topmargin_40 bottommargin_30" style="line-height: 30px;">
									Please call 1300 324 536 (we are available 24*7) 
									or write at 
									Email:info@eaglemovers.com.au

								</p>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="widget widget_instagram">
								<div>
									<a href="#" class="social-icon bg-icon theme-bg-icon rounded-icon soc-facebook"></a>
									<a href="#" class="social-icon bg-icon theme-bg-icon rounded-icon soc-twitter"></a>
									<a href="#" class="social-icon bg-icon theme-bg-icon rounded-icon soc-google"></a>
									<a href="#" class="social-icon bg-icon theme-bg-icon rounded-icon soc-instagram"></a>
									<a href="#" class="social-icon bg-icon theme-bg-icon rounded-icon soc-linkedin"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>

			<section class="page_copyright cs main_color2 section_padding_15 columns_margin_0">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<p>
								Copyright 2017 @ 1300 EAGLE MOVERS
							</p>
						</div>
					</div>
				</div>
			</section>

		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->

	<script src="/assets/compressed.js"></script>
	<script src="/assets/main.js"></script>
    <script src="/assets/notify.js"></script>
    


	<script type="text/javascript">

		function call_me_back_details() {
			if($("#phone_number").val() !="" || $("#phone_number_2").val() !=""){
			// alert("wewhgyfg")
			if ($("#phone_number").val() !="")
			{
				form_data = $("#call_me_back").serialize();
			}
			else 
			{
				form_data = $("#call_me_back_2").serialize();
			}
		    	$.ajax({

		                type: "POST",
		                dataType: 'json',
		                url: 'home/call_me_back',
		                data: form_data,

		                success: function(data) {
		                	if(data["notice_status"]=="true"){
								$.notify("Thanks for your request. We will get back to you shortly.", "success");                                    
		                		$("#phone_number").val("")
		                	}

		                	else{
		                		$.notify("Something Went Wrong! Please Try Again");
		                		$("#phone_number").val("")
		                	}
		                	
		                },
		                error: function(err){
		                	$.notify("Something Went Wrong! Please Try Again");
		                }

		                })
		    }

		}

</script>
	



</body>

</html>